@font-face {
  font-family: Comfortaa;
  src: url("fonts/Comfortaa-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Comfortaa;
  src: url("fonts/Comfortaa-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Comfortaa;
  src: url("fonts/Comfortaa-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/MONTSERRAT-BOLD.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/MONTSERRAT-REGULAR.ttf");
  font-weight: 400;
}
html {
  margin: 0;
  padding: 0;
}
body {
  color: #aaa;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  background-size: 70%;
  background-repeat: no-repeat;
  background-image: url(image/Smoke.png);
  background-position: 160px 20px;
  font-family: Comfortaa;
  font-weight: 300;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.header {
  height: 12vh;
  width: inherit;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
}

.header .logo {
  float: left;
  width: 15%;
  background-image: url("image/myName.png");
  height: inherit;
  background-size: 90%;
  background-position: 20px 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header li {
  color: #aaa;
  font-family: Comfortaa;
  font-weight: 300;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  list-style: none;
  float: right;
  height: inherit;
  background-repeat: no-repeat;
  vertical-align: bottom;
  line-height: 75px;
  margin-right: 50px;
}

.header a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li .itemSelected {
  border-bottom: solid 2px #ce6773;
  padding: 6px;
}

.collapsed {
  height: 110px;
  line-height: 140px;
}

.main .dummy {
  padding: 90px;
}

.dummy b {
  font-size: 60px;
  color: #fff;
  /* letter-spacing: 2px; */
  font-family: Comfortaa;
  /* font-weight: 500; */
}

.dummy span {
  color: #68d1d5;
}

.main .text {
  width: 70%;
  text-align: justify;
  padding: 110px;
  font-size: 20px;
  font-family: Comfortaa;
  font-weight: 300;
}

.dummy p {
  font-size: 20px;
  font-family: Comfortaa;
  color: #ce6773;
}

.resumeButton {
  padding: 14px 12px;
  border-radius: 4px;
  background-color: #68d1d5;
  border: none;
  text-decoration: none;
  font-family: Comfortaa;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.resumeButton a:hover {
  background-color: #68d1d58c;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ce6773;
}

.aboutTitle {
  font-size: 50px;
  color: #fff;
  font-weight: 200;
  text-align: center;
  padding: 40px;
  padding-bottom: 0px;
}

.aboutCaption {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  /*! margin-top:10px; */
  margin-bottom: 30px;
  padding: 40px;
  padding-top: 0px;
}

.about {
  padding-bottom: 60px;
}

.aboutGrid {
  display: flex;
  /* grid-template-columns: 50% 50%; */
  align-items: center;
  justify-content: space-around;
  padding-bottom: 40px;
}

.aboutText {
  padding: 40px;
  padding-left: 100px;
  width: 50vw;
}

.aboutImage {
}

.imageBorder img {
  height: 200px;
  /* box-shadow: 5px 5px 8px 20px rgba(0, 0, 0, 0.1); */
  -webkit-box-shadow: 2px 4px 11px -3px rgba(250, 250, 250, 0);
  -moz-box-shadow: 2px 4px 11px -3px rgba(250, 250, 250, 0.3);
  box-shadow: 2px 4px 11px -3px rgba(250, 250, 250, 0.3);
  opacity: 0.7;
}

.imageBorder {
  /* float: right; */
  padding-right: 150px;
}

/* SKILLS */
ul {
  list-style: none;
}
.skills {
  width: 80%;
  max-width: 960px;
  height: 780px;
  margin: auto;
  position: relative;
}

.lines {
  padding-top: 30px;
  height: 92%;
  position: relative;
}

.line {
  height: inherit;
  width: 2px;
  position: absolute;
  background: #eee;
}

.l0 {
  left: 0;
}

.l25 {
  left: 25%;
}

.l50 {
  left: 50%;
}

.l75 {
  left: 75%;
}

.l100 {
  left: 100%;
}

.line__label {
  display: block;
  width: 100px;
  text-align: center;
  position: absolute;
  bottom: -30px;
  right: -50px;
}

.charts {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 10; */
}

.chart {
  margin: 30px 0 0;
}

.chart__title {
  display: block;
  margin: 0 0 10px;
  font-weight: bold;
  opacity: 1;
  padding-left: 10px;
}

.chart--horiz {
  overflow: auto;
}

.chart__bar {
  border-radius: 4px;
  height: 30px;
  margin-bottom: 10px;

  /* background: linear-gradient(to left, #4cb8c4, #3cd3ad); */
  background: linear-gradient(to left, #d7d2cc, #ce6773);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  opacity: 1;

  animation: 1s anim-lightspeed-in ease forwards;
}

.chart__label {
  padding-left: 10px;
  line-height: 30px;
  color: white;
}

.titleSkills {
  margin-left: 100px;
  padding-bottom: 20px;
}

.titleSkills b {
  font-size: 30px;
  font-family: Comfortaa;
  font-weight: 300;
}

.projects {
  width: 100vw;
  height: 100vh;
  padding-bottom: 70px;
}

.projectTitle {
  font-size: 50px;
  color: #fff;
  font-weight: 200;
  text-align: center;
  padding: 40px;
  padding-bottom: 0px;
}

.projectCaption {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  /*! margin-top:10px; */
  margin-bottom: 30px;
  padding: 40px;
  padding-top: 0px;
}

figure.effect-oscar {
  background: -webkit-linear-gradient(
    45deg,
    #22682a 0%,
    #9b4a1b 40%,
    #3a342a 100%
  );
  background: linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
}

figure.effect-oscar img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
  /* padding: 3em; */
  background-color: rgba(58, 52, 42, 0.7);
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  /* border: 1px solid #fff; */
  content: "";
}

figure.effect-oscar h2 {
  /* margin: 20% 0 10px 0; */
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

figure.effect-oscar:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.effect-oscar:hover figcaption {
  background-color: rgba(58, 52, 42, 0);
}

figure.effect-oscar:hover img {
  opacity: 0.4;
}

.grid {
  /* position: relative; */
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1em 0 4em;
  max-width: 100vw;
  list-style: none;
  text-align: center;
}


.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  /* padding: 2em; */
  padding: 1.5em;
  color: #fff;
  /* text-transform: uppercase; */
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

figcaption button {
  padding: 10px 12px;
  border: none;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 14px;
  background: #ce6773;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 25vh auto;
  padding: 40px;
  background: #ce6773;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 2s ease-in-out;
  font-family: Comfortaa;
  z-index: 9999;
}

.popup h2 {
  margin-top: 50px;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #ce6773;
}
.popup .content {
  /* max-height: 30%; */
  overflow: auto;
  text-align: justify;
  color: #fff;
}

.footer {
  background-color: rgba(0, 0, 0, 1);
  color: inherit;
  text-align: center;
  height: 100px;
  line-height: 100px;
}

.footer .fa {
  color: #ff0000;
}

.footer b {
  margin-top: 30px;
}

.contacts {
  padding-bottom: 10px;
  height: 100vh;
  width: 100vw;
}

.contactTitle {
  font-size: 50px;
  color: #fff;
  font-weight: 200;
  text-align: center;
  padding: 40px;
  padding-bottom: 0px;
}

.contactCaption {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  /*! margin-top:10px; */
  margin-bottom: 30px;
  padding: 40px;
  padding-top: 0px;
}

.contactInfo {
  margin: 10px auto;
  font-size: 20px;
}

.contactGrid {
  display: flex;
  /* grid-template-columns: repeat(5, 1fr); */
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}


.contactLink {
  padding: 5px;
  padding-right: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ce6773;
}

.contacts i {
  text-align: justify;
  color: #ce6773;
  margin: 10px auto;
  padding: 50px;
  padding-left: 35px;
}

.contact-link {
  margin: 10px 0px;
}

.tools {
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
}

.badge {
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 6px 10px;
}

.blue {
  background: #84ccfc;
}

.yellow {
  background: #fce484;
}

.red {
  background: #e43b39;
}

.green {
  background: #048444;
}

.grey {
  background: #545454;
}

/* MEDIA QUERIES */

@media all and (max-width: 996px) {
  .contactGrid {
    flex-direction: column;
  }
  body {
    background-size: 120%;
    background-position: -60px 100px;
  }
  .grid {
    flex-direction: column;
    align-self: center;
  }
  .header {
    height: 6vh;
  }
}
